# Tarefa da aula 2: Visualização de Dados
Extracurricular DATA <br>
Docente: Aimê (@itsaime)

Tarefas:

Você quer prever o preço dos diamantes usando uma regressão linear. Para isso, será preciso antes analisar o dataset.

- Fazer import e arrumar índices, se necessário
- Verificar tipo de dados
- Fazer descrição das variáveis
- Limpar os dados
    - Verificar nulos, linhas duplicadas e outliers
    - Fazer a manipulação dos dados
- Análise 
    - Univariada
    - Bivariada
    - Multivariada

Perguntas:
- Quais variáveis foram escolhidas para a regressão?
- Alguma variável foi redundante?
- Alguma variável foi excluída?

Extra:
- Alguma variável precisou passar por um processo de encoding?

In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv('diamonds.csv')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
 11  date        50707 non-null  object
 12  country     53690 non-null  object
dtypes: float64(6), int64(2), object(5)
memory usage: 5.4+ MB

In [37]:
df.set_index('Unnamed: 0', inplace=True)

In [38]:
for i in df.columns[:-2]:
    df.loc[
        df.sample(frac=.05).index,
        i
    ] = np.nan

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    51243 non-null  float64
 1   cut      51243 non-null  object
 2   color    51243 non-null  object
 3   clarity  51243 non-null  object
 4   depth    51243 non-null  float64
 5   table    51243 non-null  float64
 6   price    51243 non-null  float64
 7   x        51243 non-null  float64
 8   y        51243 non-null  float64
 9   z        51243 non-null  float64
 10  date     50707 non-null  object
 11  country  53690 non-null  object
dtypes: float64(7), object(5)
memory usage: 7.4+ MB

In [40]:
df.to_csv('diamonds_2.csv')

In [41]:
df2 = pd.read_csv('diamonds_2.csv')

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       51243 non-null  float64
 2   cut         51243 non-null  object
 3   color       51243 non-null  object
 4   clarity     51243 non-null  object
 5   depth       51243 non-null  float64
 6   table       51243 non-null  float64
 7   price       51243 non-null  float64
 8   x           51243 non-null  float64
 9   y           51243 non-null  float64
 10  z           51243 non-null  float64
 11  date        50707 non-null  object
 12  country     53690 non-null  object
dtypes: float64(7), int64(1), object(5)
memory usage: 5.4+ MB